@model Real.Model.Analytic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Analytic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namespace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namespace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Controller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Controller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirebaseUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirebaseUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPv4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPv4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPv6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPv6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryString)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
